@import "tailwindcss";

@theme {
	--color-stone-100: hsl(30, 54%, 90%);
	--color-stone-150: hsl(30, 18%, 87%);
	--color-stone-600: hsl(30, 10%, 34%);
	--color-stone-900: hsl(24, 5%, 18%);
	--color-brown-800: hsl(14, 45%, 36%);
	--color-rose-50: hsl(330, 100%, 98%);
	--color-rose-800: hsl(332, 51%, 32%);
	--font-serif: "Young Serif", serif;
	--font-outfit: "Outfit", sans-serif;
}

@layer components {
	@media (width >=1280px) {
		.card-desktop {
			@apply mt-6 mb-20 p-7.5 rounded-2xl shadow-sm bg-white;
			@apply max-w-250;
		}

		.card-desktop img {
			@apply w-full rounded-lg;
		}

	}

	.app-container {
		@apply flex justify-center min-h-screen bg-stone-150;
	}

	.card-desktop h1 {
		@apply text-[1.25rem] sm:text-[4vw] 2xl:text-[4rem];
	}

	li span {
		@apply pl-2;
	}

	.grid-table>div {
		@apply border-b py-2;
	}

	.grid-table>div:nth-child(even) {
		@apply text-brown-800 font-semibold;
	}

	.grid-table>div:is(:last-child, :nth-last-child(2)) {
		@apply border-0;
	}
}
